<body id="orders_page">

<!-- EDIT ORDER : SHOWS NAME OF THE ORDER -->
    <div>
      <h2 style="color: white">Edit your order</h2>
        <%= form_for @order do |f| %>
          <div style="color:white"><%= f.label :name %><br></div>
          <%= f.text_field :name %>
          <%= f.submit "Change Name" %>
        <% end %>
    </div>

  <div id="orders"

<!-- CALCULATES AND SHOWS THE ITEM SANS TAX -->


    <% order_subtotal = 0.0 %>
    <div id="current_orders" class="edit_orders">
      <h3 style="color: black">Current Items</h3>
        <% @order.items.each do |item| %>
          <% order_subtotal += item.cost %>
          <div class="row">
            <div class="col-sm-9">
              <div class="row">
                <div class="col-xs-8 col-sm-6 text-left">
                  <%= item.name %>
                </div>
                <div class="col-xs-4 col-sm-6 text-right">
                  <%= number_to_currency(item.cost)%> &nbsp;&nbsp;
                  <%= link_to '<i class="glyphicon glyphicon-remove" style="color: red;"></i>'.html_safe, order_item_path(@order, item), method: :delete %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <hr>
        <% tax = (order_subtotal * 0.09).round(2) %>
          <ul class="text-right" style="list-style: none">
            <li>Subtotal: <%= number_to_currency(order_subtotal) %></li>
            <li>Tax: <%= number_to_currency(tax) %></li>
          </ul>
      <h4>Total: <%= number_to_currency(order_subtotal + tax) %></h4>
    </div>

    <div class="divider"></div>

<!-- ADDING ITEMS -->

    <div id="adding_items" class="edit_orders">

        <h3 style="color: black">Add Appetizers</h3>
        <%= form_for [@order, @item] do |f| %>
          <%= f.collection_select :id, Item.appetizers, :id, :name %>
          <%= f.submit "Add!" %>
        <% end %>

        <h3 style="color: black">Add Salads</h3>
        <%= form_for [@order, @item] do |f| %>
          <%= f.collection_select :id, Item.salads, :id, :name %>
          <%= f.submit "Add!" %>
        <% end %>

        <h3 style="color: black">Add Soups</h3>
        <%= form_for [@order, @item] do |f| %>
          <%= f.collection_select :id, Item.soups, :id, :name %>
          <%= f.submit "Add!" %>
        <% end %>

         <h3 style="color: black">Add Noodles</h3>
        <%= form_for [@order, @item] do |f| %>
          <%= f.collection_select :id, Item.noodles, :id, :name %>
          <%= f.submit "Add!" %>
        <% end %>

        <br>

        <button><%= link_to "Submit Order", orders_path, data: { confirm: "Thank you for submitting your order"} %></button>
        <button><%= link_to "Cancel Order", orders_path %></button>

    </div>

  </div>

</body>



