<div>
  <h1 style="color: white">Edit your order!</h1>
    <%= form_for @order do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit "Change Name" %>
    <% end %>
</div>

<div>
  <h3 style="color: white">Current Items</h3>
    <% @order.items.each do |item| %>
      <button><%= item.name %></button>
    <% end %>

    <h3 style="color: white">Add Appetizers</h3>
    <%= form_for [@order, @item] do |f| %>
      <%= f.collection_select :id, Item.appetizers, :id, :name %>
      <%= f.submit "Add!" %>
    <% end %>

    <h3 style="color: white">Add Salads</h3>
    <%= form_for [@order, @item] do |f| %>
      <%= f.collection_select :id, Item.salads, :id, :name %>
      <%= f.submit "Add!" %>
    <% end %>
</div>


<!--          <#%= link_to edit_order_path(@order, item), method: :delete, class: "btn btn-default" do %>
           <#%= item.destroy %> <i class="glyphicon glyphicon-remove" style="color: red;"></i>
         <#% end %> -->
