<h1> <%= @order.name %> </h1>

<p>write something here</p>

<%= link_to "Edit this order", edit_order_path(@order) %>
<%= link_to "Delete this order", :order, method: :delete, data: { confirm: "Are you sure you want to delete this order?"} %>
<%= link_to "Back to the list!", orders_path %>

<%= link_to "Back to the list!", orders_path %>
