<body id="show_page">

  <div id="show">

    <h1> <%= @order.name %> </h1>

    <% order_subtotal = 0.0 %>
      <div>
        <h3 style="color: black">Order Items</h3>
          <% @order.items.each do |item| %>
              <% order_subtotal += item.cost %>
              <div class="row">
                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-xs-8 col-sm-6 text-left" id="show_name">
                      <%= item.name %>
                    </div>
                    <div class="col-xs-4 col-sm-6 text-right" id="show_price">
                      <%= number_to_currency(item.cost)%>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        <div style="color: black"><hr></div>
          <% tax = (order_subtotal * 0.09).round(2) %>
            <ul class="text-right" style="list-style: none">
              <li>Subtotal: <%= number_to_currency(order_subtotal) %></li>
              <li>Tax: <%= number_to_currency(tax) %></li>
            </ul>
        <h4>Total: <%= number_to_currency(order_subtotal + tax) %></h4>
      </div>
  </div>

  <%= link_to "Back to the list!", orders_path %>

</body>


