<!DOCTYPE html>
<html>
<head>
  <title>Mint Thai</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>

<p id="nav_bar">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/home">Home</a></li>
    <li role="presentation"><a href="/about">About Us</a></li>
    <li role="presentation"><a href="/menu">Menu</a></li>
    <li role="presentation"><a href="/orders">Order</a></li>
    <li role="presentation"><a href="/contact">Contact Us</a></li>
    <li role="presentation" class="nav nav-pills pull-right">
      <% if current_user %>
        <li role="presentation" class="nav nav-pills pull-right"><%= link_to 'Logout', session_path('dummy'), method: :delete %></li>
        <li role="presentation" class="nav nav-pills pull-right"><%= link_to current_user.first_name, orders_path %></li>
      <% else %>
        <%= link_to 'Login', login_path %>
        <li role="presentation" class="nav nav-pills pull-right"><%= link_to 'Sign Up', new_user_path %></li>
      <% end %>
    </li>
  </ul>
</p>

<%= yield %>

</body>
</html>
