<!DOCTYPE html>
<html>
<head>
  <title>Mint Thai</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>

<p id="nav_bar">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/home">H o m e</a></li>
    <li role="presentation"><a href="/about">A b o u t &nbsp;&nbsp; U s</a></li>
    <li role="presentation"><a href="/menu">M e n u</a></li>
    <li role="presentation"><a href="/orders">O r d e r</a></li>
    <li role="presentation"><a href="/contact">C o n t a c t &nbsp;&nbsp; U s</a></li>
    <li role="presentation" class="nav nav-pills pull-right">
      <% if current_user %>
        <li role="presentation" class="nav nav-pills pull-right"><%= link_to 'L o g o u t', session_path('dummy'), method: :delete %></li>
        <li role="presentation" class="nav nav-pills pull-right"><%= link_to current_user.first_name, orders_path %></li>
      <% else %>
        <%= link_to 'L o g i n', login_path %>
        <li role="presentation" class="nav nav-pills pull-right"><%= link_to 'S i g n  U p', new_user_path %></li>
      <% end %>
    </li>
  </ul>
</p>

<%= yield %>

</body>
</html>



<!--     <li role="presentation"><a href="/home">H o m e</a></li>
    <li role="presentation"><a href="/about">A b o u t &nbsp;&nbsp; U s</a></li>
    <li role="presentation"><a href="/menu">M e n u</a></li>
    <li role="presentation"><a href="/orders">O r d e r</a></li>
    <li role="presentation"><a href="/contact">C o n t a c t &nbsp;&nbsp; U s</a></li>
    <li role="presentation" class="nav nav-pills pull-right"> -->
